
$screen-xl: 1270px;
$screen-lg: 1030px;
$screen-md: 799px;
$screen-sm: 599px;
$screen-xs: 499px;


$background-color-green:rgb(100,123,100);
$background-color-gradient: linear-gradient(90deg, rgba(100,123,100,1) 0%, rgba(102,172,102,1) 100%);


$color-grey: #333333;
$color-green: #647B64;
$color-white: white;
$color-yellow: #F3B562;


