@import url("https://fonts.cdnfonts.com/css/avenir-next-lt-pro");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(229, 227, 221);
  margin: 0;
}

.container {
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  max-width: 1420px;
  padding-bottom: 50px;
}

* h2 {
  color: #F3B562;
}

* h3 {
  color: #647B64;
}

.header {
  background-image: url("/pics/Ellipse.png");
  background-repeat: no-repeat;
  background-position: -3% 80%;
}
.header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header .header-wrapper .logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding-left: 5em;
}
.header .header-wrapper .main-menu {
  padding-right: 5em;
}
.header .header-wrapper .main-menu .menu {
  display: flex;
  -moz-column-gap: 1em;
       column-gap: 1em;
  list-style: none;
}
@media screen and (max-width: 1030px) {
  .header .header-wrapper .main-menu .menu {
    display: none;
  }
}
.header .header-wrapper .main-menu .menu .menu-item {
  display: inline-block;
  white-space: nowrap;
}
.header .header-wrapper .main-menu .menu .menu-item ::first-letter {
  font-size: 1.2em;
}
.header .header-wrapper .main-menu .menu .menu-item .button-top {
  display: block;
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  font-weight: 600;
  transition-duration: 0.4s;
  padding: 0.5em 1em;
  font-size: 0.9em;
}
.header .header-wrapper .main-menu .menu .menu-item .button-top:hover {
  color: white;
  background: rgb(100, 123, 100);
  background: linear-gradient(90deg, rgb(100, 123, 100) 0%, rgb(102, 172, 102) 100%);
  border-radius: 3px;
}
.header .title-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5em;
}
.header .title-wrapper .main-title {
  width: 50%;
  color: #333333;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("pics/Ellipse.png");
  background-repeat: no-repeat;
  background-position: 44% 18%;
}
.header .title-wrapper .main-title .title {
  font-size: 1.1em;
  font-style: normal;
  text-transform: uppercase;
  line-height: 3.5em;
}
.header .title-wrapper .main-title .title ::first-letter {
  font-size: 1.4em;
}
.header .title-wrapper .main-title .title-description {
  line-height: 1.6em;
  font-weight: 600;
  color: #4F4F4F;
}
.header .title-wrapper .main-title .title-description ::first-letter {
  font-size: 1.6em;
}
.header .title-wrapper .main-title .title-button {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: rgb(100, 123, 100);
  background: linear-gradient(90deg, rgb(100, 123, 100) 0%, rgb(102, 172, 102) 100%);
  padding: 1.5em 1em 1.5em 2em;
  margin: 20px 100px 20px 0px;
  border-radius: 3px;
  transition-duration: 0.4s;
  min-width: 200px;
}
.header .title-wrapper .main-title .title-button:hover {
  color: white;
  background: rgb(100, 123, 100);
  background: linear-gradient(90deg, rgb(100, 123, 100) 0%, rgb(102, 172, 102) 100%);
  border-radius: 3px;
  opacity: 0.8;
  cursor: pointer;
}
.header .title-wrapper .main-title .title-button .button2 {
  color: white;
  text-transform: uppercase;
  font-size: 0.7em;
  text-decoration: none;
  white-space: nowrap;
}
.header .title-wrapper .title-pic {
  width: 50%;
  padding-right: 5%;
  padding-left: 10%;
}
.header .title-wrapper .title-pic .pic {
  max-width: 100%;
  height: 586px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.first-content .content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.first-content .content-wrapper .main-title-first {
  width: 45%;
  padding: 0% 5% 0% 0%;
}
.first-content .content-wrapper .main-title-first .top-title {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(164.26deg, rgba(239, 128, 49, 0) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0) 119.45%);
  padding: 5% 0% 5% 30%;
}
.first-content .content-wrapper .main-title-first .top-title .small-title {
  font-size: 0.8em;
  font-style: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 1270px) {
  .first-content .content-wrapper .main-title-first .top-title .small-title h2 {
    font-size: 1.6vw;
  }
}
.first-content .content-wrapper .main-title-first .top-title .big-title {
  font-size: 2vw;
  font-style: normal;
  text-transform: uppercase;
}
.first-content .content-wrapper .main-title-first .top-title .big-title h3 {
  margin: 0;
}
@media screen and (max-width: 1270px) {
  .first-content .content-wrapper .main-title-first .top-title .big-title {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 1270px) {
  .first-content .content-wrapper .main-title-first .top-title {
    min-width: 35%;
  }
}
.first-content .content-wrapper .main-title-first .title-description {
  line-height: 1.6em;
  font-weight: 600;
  color: #4F4F4F;
  padding-left: 30%;
}
.first-content .content-wrapper .main-title-first .title-description ::first-letter {
  font-size: 1.6vw;
}
@media screen and (max-width: 1270px) {
  .first-content .content-wrapper .main-title-first .title-description p {
    font-size: 1.6vw;
  }
}
.first-content .content-wrapper .main-title-first .title-button {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-width: 180px;
  background: rgb(100, 123, 100);
  background: linear-gradient(90deg, rgb(100, 123, 100) 0%, rgb(102, 172, 102) 100%);
  padding: 1.5em 1em 1.5em 2em;
  margin: 30px 15% 10px 30%;
  border-radius: 3px;
  transition-duration: 0.4s;
}
.first-content .content-wrapper .main-title-first .title-button:hover {
  color: white;
  background: rgb(100, 123, 100);
  background: linear-gradient(90deg, rgb(100, 123, 100) 0%, rgb(102, 172, 102) 100%);
  border-radius: 3px;
  opacity: 0.8;
  cursor: pointer;
}
.first-content .content-wrapper .main-title-first .title-button .button2 {
  color: white;
  text-transform: uppercase;
  font-size: 0.7em;
  text-decoration: none;
  white-space: nowrap;
}
@media screen and (max-width: 1270px) {
  .first-content .content-wrapper .main-title-first {
    width: 40%;
  }
}
.first-content .content-wrapper .content-menu {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
}
.first-content .content-wrapper .content-menu .box {
  display: inline-block;
  height: 240px;
  width: 280px;
  padding: 2em;
  margin: 2%;
  cursor: pointer;
  transition-duration: 0.4s;
}
.first-content .content-wrapper .content-menu .box .svg {
  width: 48px;
  height: 48px;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}
.first-content .content-wrapper .content-menu .box .svg img {
  width: 24px;
}
.first-content .content-wrapper .content-menu .box:hover {
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.15);
}
.first-content .content-wrapper .content-menu .box:hover .svg {
  background-color: #647B64;
}
.first-content .content-wrapper .content-menu .box:hover .svg img {
  filter: invert(100%) sepia(85%) saturate(0%) hue-rotate(160deg) brightness(150%) contrast(150%);
}
@media screen and (max-width: 1030px) {
  .first-content .content-wrapper .content-menu .box:hover {
    height: 200px;
    width: 240px;
  }
}
@media screen and (max-width: 1270px) {
  .first-content .content-wrapper .content-menu .box {
    min-width: 60%;
  }
}

.second-content .second-wrapper .main-title-second {
  display: block;
  text-align: center;
  padding: 15px;
}
.second-content .second-wrapper .main-title-second .small-title {
  width: 100%;
  font-size: 0.8em;
  font-style: normal;
  text-transform: uppercase;
}
.second-content .second-wrapper .main-title-second .big-title {
  width: 100%;
  font-size: 2vw;
  font-style: normal;
  text-transform: uppercase;
}
.second-content .second-wrapper .main-title-second .big-title h3 {
  margin: 5px;
}
.second-content .second-wrapper .second-content-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0px 0px 40px;
  background: url(/pics/Dots\ 8px.1.svg) 7% 88%, url(/pics/Rectangle\ 497\ 2nd.png) 100% 90%;
  background-repeat: no-repeat;
}
.second-content .second-wrapper .second-content-menu .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 340px;
  width: 25%;
  padding: 3em;
  margin: 2%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.15);
  transition-duration: 0.4s;
  cursor: pointer;
}
.second-content .second-wrapper .second-content-menu .box .title {
  text-transform: uppercase;
}
.second-content .second-wrapper .second-content-menu .box:hover {
  background-color: #647B64;
  border-radius: 8px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.15);
}
.second-content .second-wrapper .second-content-menu .box:hover .title, .second-content .second-wrapper .second-content-menu .box:hover .description {
  color: white;
}
.second-content .second-wrapper .second-content-menu .box:hover .svg img {
  filter: invert(100%) sepia(85%) saturate(0%) hue-rotate(160deg) brightness(150%) contrast(150%);
}

.third-content {
  background-color: white;
}
.third-content .third-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 2%;
}
.third-content .third-wrapper .main-pic {
  display: block;
  width: 50%;
  position: relative;
}
.third-content .third-wrapper .main-pic .picture {
  width: 650px;
  height: 650px;
  padding: 140px 0% 0% 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
.third-content .third-wrapper .main-pic::before {
  display: block;
  content: "";
  background: url(./pics/main-pic.png);
  background-repeat: no-repeat;
  height: 550px;
  width: 550px;
  position: absolute;
  top: 12%;
  left: 5%;
  -o-object-fit: cover;
     object-fit: cover;
}
.third-content .third-wrapper .main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  padding: 100px 100px 100px 80px;
  flex-wrap: nowrap;
}
.third-content .third-wrapper .main-title .small-title {
  font-size: 0.8em;
  font-style: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 1270px) {
  .third-content .third-wrapper .main-title .small-title h2 {
    font-size: 1.6vw;
  }
}
.third-content .third-wrapper .main-title .big-title {
  font-size: 2vw;
  font-style: normal;
  text-transform: uppercase;
}
.third-content .third-wrapper .main-title .big-title h3 {
  margin: 0;
}
@media screen and (max-width: 1270px) {
  .third-content .third-wrapper .main-title .big-title {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 1270px) {
  .third-content .third-wrapper .main-title {
    min-width: 35%;
  }
}
.third-content .third-wrapper .title-description {
  line-height: 1.6em;
  font-weight: 600;
  color: #4F4F4F;
}
.third-content .third-wrapper .title-description ::first-letter {
  font-size: 1.6vw;
}
@media screen and (max-width: 1270px) {
  .third-content .third-wrapper .title-description p {
    font-size: 1.6vw;
  }
}
.third-content .third-wrapper .title-button {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-width: 180px;
  background: rgb(100, 123, 100);
  background: linear-gradient(90deg, rgb(100, 123, 100) 0%, rgb(102, 172, 102) 100%);
  padding: 1.5em 1em 1.5em 2em;
  margin: 30px 15% 10px 0%;
  border-radius: 3px;
  transition-duration: 0.4s;
}
.third-content .third-wrapper .title-button:hover {
  color: white;
  background: rgb(100, 123, 100);
  background: linear-gradient(90deg, rgb(100, 123, 100) 0%, rgb(102, 172, 102) 100%);
  border-radius: 3px;
  opacity: 0.8;
  cursor: pointer;
}
.third-content .third-wrapper .title-button .button2 {
  color: white;
  text-transform: uppercase;
  font-size: 0.7em;
  text-decoration: none;
  white-space: nowrap;
}
@media screen and (max-width: 1270px) {
  .third-content .third-wrapper {
    width: 40%;
  }
}/*# sourceMappingURL=figma2.css.map */